@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --text-grey: #3f4954;
    --josefin:'Josefin Sans', sans-serif;
    --roboto:'Roboto', sans-serif;
    --bg-color: #2FA5EB;
    --clr-white: #fff;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

html {
  scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--roboto);
    font-size: 1.2em;
    overflow-x: hidden;
    color: #4e4e4e;
    
}

a{
    text-decoration: none;
    color: white;
}
h2{
    color: var(--bg-color);
    font-size: 30px;
    font-family: var(--josefin);
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
}
h1 {
  font-family: var(--Lexend);
  font-size: 2.5rem;
}
h2 {
  font-family: var(--Lexend);
}
h3 {
  font-family: var(--Abel);
  font-size: 1.3rem;
}
h4 {
  font-family: var(--Abel);
}
button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-family: var(--Livvic);
  cursor: pointer;
}
span {
  font-family: var(--Abel);
  font-weight: bold;
  color: #0f0f0f;
}
.container {
  margin: 0 5vw;
}
.text-gray {
  color: var(--text-grey);
}
p {
  font-family: var(--Lexend);
  color: var(--text-light);
}
/* navbar */
nav {
  background: var(--clr-white);
  padding: 1rem 1.5rem;
  z-index: 999;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.fixed-nav .links a {
  color: var(--clr-grey-1);
}
.fixed-nav .links a:hover {
  color: var(--clr-secondary);
}
.fixed-nav .nav-toggle {
  padding-right: 3rem;
}
.fixed-nav .social-links a {
  color: var(--clr-grey-1);
}
.fixed-nav .social-links a:hover {
  color: var(--clr-secondary);
}
/* .fixed-nav .links-container {
  height: auto !important;
} */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}

.logo img{
  height: 50px;
}
.logo{
  margin: 0;
  color: var(--clr-white);
}
.fixed-nav .logo span {
  color: var(--bg-color);
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.links a {
  background: var(--clr-white);
  color: var(--clr-grey-5);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: #000;
}
.social-links a {
  padding: 0 5px;
  color: var(--clr-white);
}
@media screen and (min-width: 650px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: #000;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: #000;
  }
}
/* hero */
header {
min-height: 100vh;
}


.app{
  width: 70%;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  /* z-index: -999; */
}
/*            header    */
.app-header{
  min-height: 512px;
  width: 100%;
  background-color:#F4F8FD;
  padding-bottom:20px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.d-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.app-header .app .app-info{
  position: relative;
  top: 50px;
  font-family: var(--lexend);
}
.app-header .app .app-info h2{
  font-size: 60px;
  font-family: var(--raleway);
}
.app-header .app .app-info p{
  font-size: 20px;
  font-weight: normal;
}
.app-header .app .app-img img{
  height: 400px;
}
.app-header .app .app-img{
  position: absolute;
  top:20%;
  right: 0;
}
.app-header .btn{
  display: flex;
  justify-content: space-evenly;
}
.app-header button.btn, .app-header button.btn-ios{
  border-radius: .5em;
  border: 1PX solid black;
  padding: 5px 15px;
  background-color:black;
  color: white;
  font-size: 15px;
}

/*        features section            */
section.features{
  margin: 2px 0 70px;
  padding-top: 70px;
}
section .container .features{
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 34% 33%;
}
section .container .features-title{
  text-align: center;
}
section .container .features-title h2{
  color: var(--bg-color);
  margin: 0;
}
section .container .features-img{
  margin: 0 auto;
}
section .container .features-img img{
  width: 200px;
}
section .container .features-item.left{
  text-align: right;
}
section .container .features-item .features-info h3{
  color: var(--bg-color);
  
}
section .container .features-item{
  padding: 20px 0;
}
section .container .features-item .features-icon{
 
  color: var(--bg-color);
}
/*about*/
section.about{
  padding: 50px 0;
  background-color:#F4F8FD;
}
section .about{
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
section .about .about-img{
  padding: 30px;
}
section .about .about-img .video{
  width: 100%;
  height: 100%;
}
section .about button{
  padding: 5px 10px;
  font-size: 1.2em;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
}


/* steps*/
section .steps{
  margin: 0 auto;
  width: 70%;
  text-align:  center;
  padding: 30px;
}
section .step-icon{
  font-weight: bolder;
  font-size: 25px;
  color: white;
  margin: 1em  auto -20px;
  height: 50px;
  width: 50px;
  border: 1px;
  border-radius: 3em;
  background-color: var(--bg-color);
}
section .step-info img{
  width: 150px;
}
section .step-info{
  margin: 0 auto;
  width: 50%;
  background-color:#F4F8FD;
  border-radius: 10px;
  padding: 20px;
}
/* tearm section*/
section.team{
  padding: 25px;
  background-color:#F4F8FD;

}
section .team{
  width: 90%;
  margin: 30px auto;
  text-align: center;
}
.team .features-title h2{
  color: var(--bg-color);
}
.team .row{
  background-color:#52a7c1;
  background-image: linear-gradient(315deg, #52a7c1 0%, #6EBEC8 74%);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.aline{
  align-self: center;
}
.col{
  flex-basis: 25%;
  text-align: center;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}
.row .col img{
  width: 100%;
  cursor: pointer;
  height: 100%;
  transition: 1s;
}
.social-links .fab{
  border: 1px solid #fff;
  margin: 10px 7px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  transition: transform .5s;
  cursor: pointer;
}
.col .fab:hover{
  color: #6EBEC8;
  background-color: #ffffff;
  transform: translateY(-7px);
}
.col:hover img{
  transform: scale(1.1);
}
.col span{
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 15px solid #6EBEC8;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
}
.col .arrow{
  left: 0;
  right: unset;
  border-left: 15px solid #6EBEC8;
  border-right: 15px solid transparent;
}

section{
  height: 100%;
}

/* contact us*/
section#contact-us{
display: grid;
grid-template-columns: 70% 30%;

}
section .contact-bg{
  background-color: var(--bg-color);
}
section .contact{
  position: relative;
  left: 20%;
  padding: 50px 0;
}
section .contact input, textarea{
  width: 45%;
  padding: 7px 15px;
  border: transparent;
  border-bottom: 1px solid #7575A1;
  margin: 10px 0;
}
section .contact .submit{
  padding: 20px;
}
input, textarea{
  color: white;
  border: transparent;
  border-radius: 5px;
  padding: 10px 20px;
  background-color:#52a7c1;
  background-image: linear-gradient(315deg, #52a7c1 0%, #6EBEC8 74%);
}
/*footer*/
footer{
  background-color: #0f0f0f;
  color: white;
  padding: 20px 0;
}

footer .footer{
  text-align: center;
  color: var(--text-grey);
}


/* media screen */

@media screen and (max-width:500px){
  /* .nav{
      min-height: 10vh;
      padding: 1rem 1rem 0 1rem ;
  } */
  section{
      width: 100% !important;
  }
  section .team{
      margin: 30px auto;
  }
  section.team{
      padding: 25px 0;
  }
  section .about .about-img{
      padding: 0 !important;
  }
  
  section .contact input, textarea{
      width: 70%;
  }  
}
@media screen and (max-width:650px){
  section .steps{
      width: 95%;
      padding: 20px 0 ;
  }
}
@media screen and (max-width:750px){
  /* .nav .nav-menu,.nav .nav-items{
      flex-direction: column;
  }
  .nav .toggle-collapse{
      display: initial;
  }
  .nav .nav-items .nav-link{
  padding: 1rem 1rem !important;
      
  } */
}
@media screen and (max-width:815px){
  /* #menu{
      display: inherit;
  } */
  section .step-info{
      padding: 30px 0;
      width: 100%;
      padding: 20px 0 ;
  }
  section .step-info p{
      padding: 1em;
  }
  .app-header .app .app-info{
      position: static;
      padding: 0 0 50px 0px;
  }
  .app{
      height: 100%;
      text-align: center;
      width: 100%;
      display: grid;
      grid-template-columns: 100%;
      top: 25%;
      transform: translateY(0%);
      
  }
  /* .navbar ul.d-flex{
      display: none;
      height: 50vh;
  flex-direction: column ;
  flex-wrap: wrap;

  } */
  .app-header .app .app-info h2{
      font-size: 35px;
      font-family: var(--raleway);
  }
  .app-header .app .app-info p{
      font-size: 1em;
      font-weight: normal;
  }
  .app-header .app .app-img img{
      display: none;
      right: 0;
  }
  .about .about-img {
      width: 100%;
      height: 100%;
      padding: 0px !important;
  }
  section .container .features{
      width: 60%;
      display: grid;
      grid-template-columns: 100% !important; 
  }
  section .container .features-item.left,
  section .container{
      text-align: center !important;
  }
  section .container .features-item.left{
      text-align: right;
  }
  section#contact-us{
      display: grid;
      grid-template-columns: 100% !important;
     }
     section .contact{
      text-align: center;
      position: static;
      left: 0%;
      padding: 0px 0;
  }
  section .about .about-img{
      justify-self: center;
   }
   


  .row{
      width: 95% !important;
  }
  .col{
      flex-basis: 50%;
      font-size: 14px;
  }
  .social-links .fab{
      width: 30px;
      height: 30px;
      line-height: 30px;
  } 
  .team .row .col:nth-child(1){
      order: 1;
  }
  .team .row .col:nth-child(2){
      order: 2;
  }
  .team .row .col:nth-child(3){
      order: 5;
  }
  .team .row .col:nth-child(4){
      order: 6;
  }
  .team .row .col:nth-child(5){
      order: 3;
  }
  .team .row .col:nth-child(6){
      order: 4;
  }
  .team .row .col:nth-child(7){
      order: 7;
  }
  .team .row .col:nth-child(8){
      order: 8;
  }
}
@media screen and (max-width:1220px){
  section .container .features{
      width: 80%;
  }
}


.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: hsla(182, 63%, 54%);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: #000;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
